* {
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/AvenirNextLTPro-DemiCn.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaLight';
	src: url('../fonts/HelveticaNeueCyr-Light.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/HelveticaNeueCyr-Roman.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaBold';
	src: url('../fonts/HelveticaNeueCyr-Bold.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaThin';
	src: url('../fonts/HelveticaNeueCyr-Thin.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaUltraLight';
	src: url('../fonts/HelveticaNeueCyr-UltraLight.otf');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'HelveticaCondensedBold';
	src: url('../fonts/Helvetica_Neue_Condensed_Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

html, body {
    height: 100%;
    background-color: #f7f4e1;
}

.teaserContainer, .signInContainer {
	width: 1240px;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.teaserContainer {
	height: 500px;
	padding-top: 350px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.03));
}

.signInContainer {
	height: 660px;
	padding-top: 190px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.03), rgba(255, 255, 255, 0.03));
}

.teaserContainer .title, .signInContainer .title {
	font-size: 60px;
	color: #a06d7b;
	font-family: 'Avenir';
	text-transform: uppercase;
	cursor: pointer;
}

.teaserContainer .info {
	font-size: 18px;
	color: #6d6e71;
	font-family: 'HelveticaLight';
	line-height: 1.5;
	width: 500px;
	margin: auto;
	margin-top: 22px;
}

.teaserContainer .email {
	width: 261px;
	height: 40px;
	margin: auto;
	margin-top: 77px;
}

.teaserContainer .email input {
	width: 89px;
	height: 38px;
	padding-left: 25px;
	padding-right: 15px;
	background-color: #f7f4e1;
	border: 1px solid #e8e5d1;
	font-size: 13px;
	font-family: 'HelveticaLight';
	color: #6d6e71;
	float: left;
	outline: none;
}

.teaserContainer .email .invite {
	width: 129px;
	height: 38px;
	background-color: #e8e5d1;
	font-size: 13px;
	text-transform: uppercase;
	border: 1px solid #e8e5d1;
	font-family: 'HelveticaLight';
	color: #6d6e71;
	border-left: none;
	line-height: 38px;
	cursor: pointer;
	float: left;
}

.teaserContainer .email .invite:hover {
	color: #f2efdd;
	background-color: #a06d7b;
}

.teaserContainer .timer {
	clear: both;
	color: #d4c0b9;
	font-size: 60px;
	font-family: 'HelveticaUltraLight';
	margin-top: 77px;
}

.signInContainer .slogan {
	width: 462px;
	text-transform: uppercase;
	color: #a06d7b;
	font-size: 9px;
	font-family: 'HelveticaBold';
	margin: auto;
	margin-top: 28px;
	letter-spacing: 7px;
}

.signInContainer .facebook, .signInContainer .google {
	height: 57px;
	width: 280px;
	padding-right: 40px;
	padding-left: 40px;
	border-radius: 26px;
    margin: auto;
    cursor: pointer;
	line-height: 57px;
	color: #edeee9;
	font-size: 18px;
	font-family: 'HelveticaThin';
	text-align: left;
}

.signInContainer .facebook {
	background: rgba(59, 89, 153, 0.63) url('../images/fb.png') 310px no-repeat;
	margin-top: 190px;
}

.signInContainer .google {
	background: rgba(203, 63, 50, 0.63) url('../images/gplus.png') 310px no-repeat;
	margin-top: 20px;
}

.signInContainer .facebook:hover {
	background: rgba(59, 89, 153, 1) url('../images/fb.png') 310px no-repeat;
}

.signInContainer .google:hover {
	background: rgba(203, 63, 50, 1) url('../images/gplus.png') 310px no-repeat;
}

.signInContainer .info, .signInContainer .terms {
	font-size: 18px;
	font-family: 'HelveticaThin';
	width: 310px;
	margin: auto;
	font-size: 18px;
	color: #414042;
}

.signInContainer .info {
	margin-top: 76px;
}

.signInContainer .terms {
	margin-top: 32px;
	line-height: 1.4;
}

.signInContainer .boldHelv {
	font-family: 'Helvetica';
}

.homepageContainer {
	width: 1280px;
	margin: auto;
}

.homepageContainer .dashboard {
	height: 80px;
	line-height: 85px;
	border-bottom: 2px solid #dccac1;
	background-color: rgba(247, 244, 225, 0.95);
}

.homepageContainer .dashboard .logo {
	font-size: 40px;
	color: #a06d7b;
	font-family: 'Avenir';
	text-transform: uppercase;
	margin-right: 108px;
	margin-left: 167px;
	float: left;
	cursor: pointer;
}

.homepageContainer .dashboard .pointMenu {
	margin-right: 48px;
	float: left;
	color: #a06d7b;
	text-transform: uppercase;
	font-family: 'HelveticaBold';
	font-size: 10px;
	float: left;
	cursor: pointer;
}

.homepageContainer .dashboard .pointMenu .icon {
	margin-right: 20px;
	float: left;
	margin-top: 26px;
}

.homepageContainer .dashboard .pointMenu .profile_icon {
	width: 27px;
	height: 27px;
	border-radius: 13px;
	background-image: url('../images/1409928845_lico.jpg');
	background-size: contain;
}

.homepageContainer .dashboard .pointMenu .newpost_icon {
	width: 25px;
	height: 23px;
	background-image: url('../images/newpost_icon.png');
	background-position: 0px 0px;
}

.homepageContainer .dashboard .pointMenu .newpost_icon:hover {
	width: 25px;
	height: 25px;
	background-image: url('../images/newpost_icon.png');
	background-position: 0px 25px;
}

.homepageContainer .dashboard .pointMenu .genealogy_icon {
	width: 25px;
	height: 25px;
	background-image: url('../images/genealogy_icon.png');
	background-position: 0px 0px;
}

.homepageContainer .dashboard .pointMenu .genealogy_icon:hover {
	width: 25px;
	height: 25px;
	background-image: url('../images/genealogy_icon.png');
	background-position: 0px 25px;
}

.homepageContainer .dashboard .pointMenu .messages_icon {
	width: 23px;
	height: 22px;
	background-image: url('../images/messages_icon.png');
	background-position: 0px 0px;
}

.homepageContainer .dashboard .pointMenu .messages_icon:hover {
	width: 23px;
	height: 22px;
	background-image: url('../images/messages_icon.png');
	background-position: 0px 22px;
}

.homepageContainer .dashboard .pointMenu .notifications_icon {
	width: 23px;
	height: 25px;
	background-image: url('../images/notification_icon.png');
	background-position: 0px 0px;
}

.homepageContainer .dashboard .pointMenu .notifications_icon:hover {
	width: 23px;
	height: 25px;
	background-image: url('../images/notification_icon.png');
	background-position: 0px 25px;
}

.homepageContainer .dashboard .pointMenu .degree {
	width: 10px;
    color: #fff;
    font-size: 10px;
    padding: 7px;
    background-color: #a06d7b;
    border-radius: 12px;
    line-height: 1;
    text-align: center;
    float: right;
    margin-top: 10px;
}

.homepageContainer .slider {
	height: 391px;
	margin-bottom: 20px;
}

.homepageContainer .image {
	height: 391px;
	background: url('../images/slider1.png');
}

.homepageContainer .shadow {
	background: url('../images/shadow.png');
	height: 268px;
	width: 1280px;
	position: absolute;
	text-align: center;
	margin-top: -268px;
}

.homepageContainer .shadow .name {
	font-family: 'Helvetica';
	font-size: 12px;
    color: #f7f4e1;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #c4c4c4;
}

.homepageContainer .shadow .title {
	font-family: 'HelveticaCondensedBold';
	font-size: 36px;
	color: #fff;
	margin-top: 10px;
	text-shadow: 1px 1px 1px #c4c4c4;
	text-transform: uppercase;
}

.homepageContainer .shadow .pagination {
	margin-top: 40px;
	margin-left: 586px;
}

.homepageContainer .shadow .pagination .element {
	width: 15px;
	height: 15px;
	border-radius: 8px;
	border: 1px solid #fff;
	background-color: none;
	float: left;
	margin-right: 12px;
	cursor: pointer;
}

.homepageContainer .shadow .pagination .active {
	width: 15px;
	height: 15px;
	border-radius: 8px;
	border: 1px solid #fff;
	background-color: #fff;
	float: left;
	margin-right: 12px;
	cursor: pointer;
}

.footer {
	width: 1238px;
	height: 240px;
	background-color: #a06d7b;
	color: #f7f4e1;
	margin: auto;
	line-height: 240px;
	margin-top: 140px;
}

.footer .logo {
	font-size: 40px;
	font-family: 'Avenir';
	text-transform: uppercase;
	margin-right: 48px;
	margin-left: 145px;
	float: left;
}

.footer .line {
	height: 121px;
	width: 1px;
	border-right: 1px solid #f7f4e1;
	float: left;
	margin-top: 60px;
	margin-right: 78px;
}

.footer .listLink {
	line-height: 2.1;
}

.footer .listLink ul {
	float: left;
	margin-right: 63px;
	margin-top: 50px;
}

.footer .listLink ul li {
	font-family: 'HelveticaLight';
	font-size: 14px;
	color: #eaeceb;
	list-style-type: none;
	cursor: pointer;
}

.footer .copy {
	font-family: 'HelveticaLight';
	font-size: 14px;
	color: #eaeceb;
	line-height: 9;
}

.footer .social {
	margin-top: -44px;
}

.footer .social .fb {
	background: url('../images/fbsocial.png');
	margin-left: 150px;
}

.footer .social .instagram {
	background: url('../images/instagramsocial.png');
}

.footer .social .twitter {
	background: url('../images/twittersocial.png');
}

.footer .social .elem {
	margin-right: 10px;
	float: left;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.homepageContainer .columns {
    display: table;
    width: 943px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.homepageContainer .columns > div, .columns > noindex > div {
    display: table-cell;
    vertical-align: top;
    width: auto;
    box-sizing: border-box; 
}

.homepageContainer .columns > .content, .columns > noindex > .content {
    max-width: 693px;
    min-width: 693px;
    width: 693px;
}

.homepageContainer .columns > .search, .columns > noindex > .search {
    max-width: 230px;
    min-width: 230px;
    width: 230px;
    overflow: hidden;
}

.homepageContainer .columns .content .post {
	height: 369px;
	background-color: #f0eedd;
	width: 693px;
	cursor: pointer;
	margin-bottom: 20px;
}

.homepageContainer .columns .content .last {
	margin-bottom: 0px;
}

.homepageContainer .columns .content .post:hover {
	background-color: #e8e5d1;
}

.homepageContainer .columns .content .post .image {
	background: url('../images/image_post.png');
	height: 327px;
	width: 252px;
	margin-right: 40px;
	margin-left: 21px;
	margin-top: 21px;
	float: left;
}

.homepageContainer .columns .content .post .author {
	font-family: 'HelveticaBold';
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #49423d;
    margin-top: 290px;
    margin-left: 20px;
}

.homepageContainer .columns .content .post .text {
	float: left;
    margin-top: 104px;
    font-size: 14px;
    font-family: 'Helvetica';
    color: #414042;
    line-height: 1.4;
    width: 340px;
    margin-bottom: 60px;
}

.post .info .module {
	margin-right: 30px;
    float: left;
    line-height: 2;
}

.post .info .module .title {
	font-family: 'HelveticaBold';
	font-size: 10px;
	color: #a06d7b;
	text-transform: uppercase;
}

.post .info .module .number {
	font-family: 'HelveticaThin';
	font-size: 14px;
	color: #414042;
	text-transform: uppercase;
}

.homepageContainer .columns .search {
	background-color: #e8e5d1;
}

.homepageContainer .columns .search .head {
	height: 70px;
	background-color: #a06d7b;
	line-height: 70px;
	text-align: center;
}

.homepageContainer .columns .search .head input {
	height: 30px;
	width: 150px;
	border: 1px solid #f7f4e1;
	color: #f7f4e1;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'HelveticaBold';
	font-size: 11px;
	outline: none;
	background-color: #a06d7b;
	border-radius: 26px;
}
