<div class="teaserContainer">
	<div class="title" ng-click="showHomepage()">Wegacy</div>
	<div class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</div>
	<div class="email"><input type="text" placeholder="YOUR E-MAIL"/><div class="invite" ng-click="showSignIn()">get invite</div></div>
	<div class="timer">{{hours}}:{{minutes}}:{{seconds}}</div>
</div>
	