<div class="signInContainer">
	<div class="title" ng-click="showHomepage()">Wegacy</div>
	<div class="slogan">This is a place for a corporate line</div>
	<div class="facebook" ng-click="showHomepage()">Sign In With Facebook</div>
	<div class="google" ng-click="showHomepage()">Sign In With Google Plus</div>
	<div class="info"><span class="boldHelv">SignIn</span> or <span class="boldHelv">Register</span> with E-mail</div>
	<div class="terms">By signing in or creating an account, you're agreeing to the <span class="boldHelv">Terms of Service</span></div>
</div>
